In [48]:
import pandas as pd
import time
from datetime import datetime
import ydata_profiling
from pandas_profiling import ProfileReport
import numpy as np
import re
import requests

create a rating

In [49]:
df = pd.read_csv('data/stage02_cleaned_mediamarkt.csv')

In [50]:
#transforming storage column

In [51]:
def convert_to_gb(value):
    if isinstance(value, str):
        if 'TB' in value:
            # Convert TB to GB by multiplying by 1000
            return int(float(value.replace('TB', '')) * 1000)
        elif 'GB' in value:
            # Simply remove 'GB' from the string and convert to int
            return int(value.replace('GB', ''))
    elif isinstance(value, (int, float)):
        # If it's a numerical type, we assume it's already in GB
        return int(value)
    else:
        # If the value is neither string nor numeric, we may want to handle this differently
        # For example, you could return None or raise an error
        return None

# Apply the conversion function to the 'storage' column
df['memory_GB'] = df['storage'].apply(convert_to_gb)

In [52]:
df['rating_100'] = df['rating'] * 20

In [53]:
df['screen_price_ratio'] = df['price'] / df['size']
new_order = ['brand', 'model', 'memory_GB', 'camera_MP', 'size', 'color', 'rating_100', 'reviews_count', 'price', 'screen_price_ratio', 'source', 'date']
df = df[new_order]

In [54]:
file_name = "data/stage03_mediamarkt.csv"
# Save the DataFrame to CSV in the same directory as the script
df.to_csv(file_name, index=False)

In [55]:
df

,brand,model,memory_GB,camera_MP,size,color,rating_100,reviews_count,price,screen_price_ratio,source,date
0,apple,iphone 15,128,48.0,6.10,black,96.0,24,719.00,117.868852,mediamarkt,2024-04-15
1,xiaomi,redmi a2,32,8.0,6.52,black,82.0,10,79.95,12.262270,mediamarkt,2024-04-15
2,apple,iphone 15 pro,256,48.0,6.10,black titanium,98.0,15,1029.00,168.688525,mediamarkt,2024-04-15
3,apple,iphone 15 pro max,256,48.0,6.70,black titanium,98.0,13,1129.00,168.507463,mediamarkt,2024-04-15
4,apple,iphone 15,128,48.0,6.10,yellow,0.0,0,719.00,117.868852,mediamarkt,2024-04-15
...,...,...,...,...,...,...,...,...,...,...,...,...
353,apple,iphone 15 plus,512,48.0,6.70,pink,0.0,0,1159.00,172.985075,mediamarkt,2024-04-15
354,xiaomi,redmi note 12 pro 5g,128,50.0,6.67,midnight black,92.0,14,239.70,35.937031,mediamarkt,2024-04-15
355,apple,iphone 12,64,12.0,6.10,white,88.0,11,479.95,78.680328,mediamarkt,2024-04-15
356,apple,iphone 14 plus,256,12.0,6.70,blue,100.0,2,829.00,123.731343,mediamarkt,2024-04-15
357,xiaomi,redmi note 12 4g,128,50.0,6.67,onyx gray,76.0,35,159.70,23.943028,mediamarkt,2024-04-15

In [56]:
df.dtypes

brand                  object
model                  object
memory_GB               int64
camera_MP             float64
size                  float64
color                  object
rating_100            float64
reviews_count           int64
price                 float64
screen_price_ratio    float64
source                 object
date                   object
dtype: object